
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.container img {

    width: 100px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

form input[type="text"],
form input[type="password"] {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}

.error {
  color: red;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
