/* report_disaster.css */

/* Section Styles */
section {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
  background-color: #f9f9f9;
}

/* Form Styles */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input[type="file"] {
  margin-top: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and(max-width: 768px) {
  section{
    width: 90%;
  }
  
}