/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 28px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #5c5b5b;
    box-shadow: rgba(78, 77, 77, 0.7);
    padding: 10px;
    border-radius: 12px;
    border:  1px solid #333131;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

/* User Authentication Styles */
nav ul:nth-child(2) {
    float: right;
}

nav ul:nth-child(2) li {
    display: inline-block;
    margin-left: 20px;
}

nav ul:nth-child(2) li:first-child {
    margin-left: 0;
}

nav ul:nth-child(2) li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul:nth-child(2) li a:hover {
    background-color: #555;
}

.hero {
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    height:60vh;
    text-align: center;
    color: #fff; 
}
.hero h2 {
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 40px;
}

.hero .btn-primary {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    
}

/* About Section Styles */
.about {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content {
    flex: 1;
    margin-right: 20px;
}

.about h2 {
    margin-bottom: 20px;
}

.about-image img {
    max-width: 400px;
    height: 400px;
}

/* Previous Disasters Section Styles */
.previous-disasters {
    padding: 50px 0;
}

.disasters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.disaster-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.disaster-item img {
    max-width: 400px;
    height: 400px;
}

/* Reviews Section Styles */
.reviews {
    padding: 50px 0;
}

.review {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.review blockquote {
    margin-bottom: 10px;
}

.review cite {
    font-style: italic;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
