{% extends 'base.html' %}
{%load static%}

{% block title %}Home - Disaster Management{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
    <!-- Hero Section -->
<section class="hero" style=" background-image: url('static/images/adam-wilson-wCKzi8nDkw8-unsplash.jpg');">
    <div class="hero-content">
        <h2>Welcome to Disaster Management</h2>
        <p>Empowering communities to respond effectively to disasters.</p>
        <a href="{% url 'report_disaster' %}" class="btn btn-primary">Report a Disaster</a>
    </div>
</section>


    <!-- About Section -->
    <section class="about">
        <div class="about-content">
            <h2>About Us</h2>
            <p>Disaster Management is a platform dedicated to providing resources and support for disaster preparedness, response, and recovery.</p>
        </div>
        <div class="about-image">
            <img src="{% static 'about_image.jpg' %}" alt="About Us Image">
        </div>
    </section>

    <!-- Previous Disasters Section -->
    <section class="previous-disasters">
        <h2>Previous Disasters</h2>
        <div class="disasters-grid">
            <!-- Display previous disasters here -->
            <div class="disaster-item">
                <img src="{% static '/images/jonathan-ford-6ZgTEtvD16I-unsplash.jpg' %}" alt="Previous Disaster Image">
                <h3>Disaster Name</h3>
                <p>Description of the disaster...</p>
            </div>
            <div class="disaster-item">
                  <img src="{% static '/images/jonathan-ford-6ZgTEtvD16I-unsplash.jpg' %}" alt="Previous Disaster Image">
                    <h3>Disaster Name</h3>
                    <p>Description of the disaster...</p>
            </div>
            <!-- Add more disaster items as needed -->
        </div>
    </section>

    <!-- Reviews Section -->
    <section class="reviews">
        <h2>What People are Saying</h2>
        <div class="review">
            <blockquote>"This platform helped us immensely during a recent disaster. Highly recommended!"</blockquote>
            <cite>John Doe</cite>
        </div>
        <div class="review">
            <blockquote>"This platform helped us immensely during a recent disaster. Highly recommended!"</blockquote>
            <cite>John Doe</cite>
        </div>
        <!-- Add more reviews as needed -->
    </section>

    
{% endblock %}
