{% extends 'base.html' %}

{% block title %}View Topic - Disaster Management{% endblock %}

{% block content %}
    <section>
        <h2>{{ topic.title }}</h2>
        <ul>
            {% for reply in replies %}
                <li>{{ reply.content }}</li>
            {% endfor %}
        </ul>
        <form method="post">
            {% csrf_token %}
            <textarea name="content" rows="4" cols="50"></textarea><br>
            <button type="submit">Reply</button>
        </form>
    </section>
{% endblock %}
